body{
  color: darkred;
  background-image:url("background.jpg");
  background-repeat:no-repeat;
  background-size:auto;
}
.Search{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: auto;
  padding-right: auto;
}
.Search_Box{
  margin:10px;
  font-family: 'Nunito', serif;
  background-color: rgba(146, 44, 46, 0.8);
  color: #F3EAD9;
  width: 30%;
  height: 50px;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  border: 2px solid #0F2857;
  border-radius: 50px;
}
#Search_Button{
  bottom:0px;
  position: sticky;
  float:right;
  height:50px;
  width:200px;
}
